body {
  margin: 0px;
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--c-3);
  background: var(--c-0);
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
}

h1,
h3,
h2,
ul,
p{
  margin: 0px;
}

h1 {
  font-size: 1.2rem;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

