.productive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.productive.container {
  padding-bottom: 130px;
}

.productive-text h2 {
  max-width: 20ch;
  margin-bottom: 24px;
}

.productive-text p {
  margin-bottom: 12px;
}


@media (max-width: 800px){
  .productive-text h2 {
    max-width: initial;
    margin-bottom: 24px;
  }
  .productive{
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 640px;
    padding: 0 24px;
  }
}