.footer-bg {
  background-color: var(--c-n4);
}
.footer {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
}

.footer-list{
  width: max-content;
}

.footer-list h3{
  margin-bottom: 20px;
}

.footer-list li{
  margin-bottom: 8px;
}

.footer.container {
  padding-top: 60px;
}

.footer .social{
  display: flex;
  gap: 24px;
}

.footer a:hover {
  color: var(--c-1);
}

.attribution {
  background-color: var(--c-n4);
}

i {
  color: white;
}

a {
  height: max-content;
}

a:hover i {
  color: var(--c-1);
}


@media (max-width: 900px){
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    text-align: center;
  }
}