.shorten-bg {
  background-color: hsl(230,25%,95%);
  box-shadow: inset 0 100px var(--c-n0);
}

.shorten.container {
  padding-bottom: 120px;
}

.shorten-actions {
  background-image: url(../../images/bg-shorten-desktop.svg);
  background-size: 100%;
  background-color: var(--c-2);
  padding: 48px 60px;
  border-radius: 5px;
}

.shorten-actions form{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr auto;
  gap: 4px 24px;
}

.button.copy {
  border-radius: 5px;
}

.shorten-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: var(--c-n0);
}

.shorten-item .link {
  display: flex; 
  align-items: center;
  gap: 24px;
}