.statistics-bg {
  background-color: hsl(230,25%,95%);
}

.statistics {
  text-align: center;
  padding-bottom: 120px;
}

.statistics > p {
  max-width: 45ch;
  margin: 8px auto;
  padding-bottom: 80px;
}

.statistics-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;
}

.statistics-cards::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: var(--c-1);
  top: calc(50% - 20px);
}

.statistics-card {
  background-color: var(--c-n0);
  text-align: left;
  padding: 32px 44px;
  padding-top: 72px;
  position: relative;
  max-width: 380px;
  max-height: 141px;
  border-radius: 5px;
}

.statistics-card:nth-child(2) {
  margin-top: 40px;
}

.statistics-card:nth-child(3) {
  margin-top: 80px;
}


.card-logo {
  background-color: var(--c-2);
  width: max-content;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}

.statistics-card > h3 {
  margin-bottom: 14px
}

.statistics-card > p {
  max-width: 30ch;
}