.thanks-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  height: 100%;
  display: none;
}

.thanks-page.active {
  display: block;
}

img.thanks-image {
  max-width: 84px;
}