.header-bg {
  background: var(--c-s2);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 56px;
}

.menu-button {
  display: none;
}

.menu-close {
  display: none;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-close:hover {
  cursor: pointer;
}

.menu-buttons {
  height: min-content;
  display: flex;
  align-items: center;
}
.menu-buttons a:hover {
  color: var(--c-3);
}

.menu-buttons a:first-child{
  margin-right: 40px;
}
.menu-options {
  display: flex;
  gap: 40px;
}

.menu-options li span:hover {
  color: var(--c-3);
  cursor: pointer;
}

.dropdown-item {
  position: relative;
}


.dropdown-item span::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../../images/icon-arrow-down.svg");
  margin-left: 4px;
  margin-bottom: 2px;
  transition: 0.2s;
}

.dropdown-item.active span::after {
  transform: rotate(180deg);
}

.dropdown-menu {
  margin-top: 24px;
  display: none;
  padding: 26px;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  background-color: #fff;
  width: max-content;
}

.active {
  display: flex;
  opacity: 1;
}

.dropdown-menu img {
  width: 16px;
  height: 16px;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dropdown-menu a:hover {
  color: var(--c-3);
}

#features-menu {
  left: -80px;
}




@media (max-width:1000px) {
  .header {
    padding: 20px 40px;
  }

  .header-section {
    gap: 30px;
  }
  .menu-buttons{
    gap: 25px;
  }
  
  .menu-options{
    gap: 25px;
  }

  .menu-buttons a:first-child{
    margin-right: 20px;
  }
  
}

@media (max-width:800px) {
  .header {
    padding: 20px 20px;
  }

  .header-section {
    gap: 20px;
  }
  .menu-buttons{
    gap: 10px;
  }
  
  .menu-options{
    gap: 10px;
  }

  .menu-buttons a:first-child{
    margin-right: 10px;
  }
  
  .menu-options li{
    display: inline-block;
    margin-right: 10px;
  }
}

@media (max-width:700px) {
  .menu {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .menu-close {
    display: block;
    align-self:flex-end;
  }
  .header-section {
    justify-content: space-between;
  }
  .menu.active {
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    box-shadow: -1px 0px 20px 1px hsla(0, 0%, 31%, 0.23);
  }
  .menu-buttons{
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }
  
  .menu-options{
    gap: 28px;
    flex-direction: column;
    justify-self: end;
  }

  .dropdown-menu {
    position: initial;
    padding: 0 0 0 20px;
    gap: 18px;
    margin-top: 20px;
  }
  .dropdown-menu li {
    display: flex;
  }
}