.font-1-xx {
  font: 700 2rem 'Ubuntu', sans-serif;
}
.font-1-xx-s {
  font: 700 1.25rem 'Ubuntu', sans-serif;
}

.font-1-x-b {
  font: 500 1rem'Ubuntu', sans-serif;
}

.font-1-x {
  font: 400 1rem 'Ubuntu', sans-serif;
}

.font-1-m-b {
  font: 700 0.9375rem 'Ubuntu', sans-serif;
}

.font-1-m {
  font: 400 0.9375rem 'Ubuntu', sans-serif;
}

.font-1-s-b {
  font: 700 0.875rem 'Ubuntu', sans-serif;
}

.font-1-s {
  font: 400 0.875rem 'Ubuntu', sans-serif;
}


@media (max-width: 650px) {
  .font-1-xx {
    font: 700 1.5rem'Ubuntu', sans-serif;
  }
}


