body {
  background: var(--c-n0);
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: var(--c-n3);
}

h1,
h3,
h2,
ul,
p {
  margin: 0px;
}


ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
