.container {
  padding: 30px 60px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--c-p2);
  padding: 20px 98px;
  border-radius: 28px;
}

.button:hover {
  background-color: var(--c-p1);
}

@media (max-width: 1000px){
  .container {
    padding: 10px;
    max-width: 1000px;
  }
}