.font-1-xx {
  font: 700 4.75rem/1.125 'Poppins', sans-serif;
}

.font-1-x {
  font: 700 2.375rem/1.125 'Poppins', sans-serif;
}

.font-1-mx-b {
  font: 700 1.375rem/1.125 'Poppins', sans-serif;
}

.font-1-mx {
  font: 500 1.375rem/1.59 'Poppins', sans-serif;
}

.font-1-m-b {
  font: 700 1.25rem 'Poppins', sans-serif;
}

.font-1-m {
  font: 500 1.25rem 'Poppins', sans-serif;
}

.font-1-sx {
  font: 500 1.125rem/1.77 'Poppins', sans-serif;
  letter-spacing: 0.005rem;
}

.font-1-s {
  font: 500 0.9375rem/1.7 'Poppins', sans-serif;
}

.font-1-s-b {
  font: 700 0.9375rem/1.7 'Poppins', sans-serif;
}
