.results-bg {
    box-shadow: 0 2px 10px hsl(221, 100%, 98%);
}

.results {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.results-avg {
    padding: 44px 64px 48px 64px;
    text-align: center;
    background: var(--gradient-1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: var(--gradient-2);
    border-radius: 50%;
}

.avg-number {
    font-size: 3rem;
    font: 800 3rem/1.2 'Hanken Grotesk', sans-serif;
}

.results-text h2{
    font-weight: 700;
    margin-bottom: 12px;
}

.results-detail {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 44px 0;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
}

.results-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    border-radius: 14px;
}

.results-list .item-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.results-list .reaction {
    background: var(--c-p1-l);
}

.results-list .memory {
    background: var(--c-p2-l);
}

.results-list .verbal {
    background: var(--c-p3-l);
}

.results-list .visual {
    background: var(--c-p4-l);
}

@media (max-width: 600px) {
    .results {
        grid-template-columns: 1fr;
    }
    .results-avg {
        border-radius: 0 0 20px 20px;
    }
}